{% extends "bootstrap.html.twig" %}

{% block body %}
 <h4 class="text-center text-warning">- En rejoignant le club ADJJ, vous vous engagez à respecter ces règles de base -</h4>
 <div class="border mt-5">
  <h3 class="display-3 my-3 text-capitalize text-center border-bottom pb-4">code d'honneur</h3>
  
  <h5 class="display-5 text-uppercase text-center">
  Honneur <br> Discipline <br> Bravoure <br> Courage <br> respect <br> générosité
  </h5>
  </div>
 

{% endblock %}