{% extends "bootstrap.html.twig" %}

{% block body %}

<section>
   <hr>
    <div>
    <h1 class="text-center display-5">Histoire du Ju-jitsu</h1>
      <h4 class="text-center">Arts martiaux Japonais - Trois époques.</h4>
    </div>
    <hr>
    
        <h5>LA PERIODE DU BU-JITSU</h5>
        <p>À partir du 7ème siècle : élaboré par de petits groupes dans des écoles secrètes et dispensé à une classe d’élites ou chaque école avait ses spécificités techniques.</p>
        <h5>LA PERIODE DU BU-GEI</h5>
        <p>À partir du 15ème siècle : étude et codification des méthodes, individualisation des écoles rattachées à des Maîtres.</p>
        <h5>LA PERIODE DU BUDO</h5>
        <p>À partir du 17ème siècle : fin des guerres entre seigneurs locaux et début des arts martiaux éducatifs, "maîtrise et spiritualité" sont à l’ordre du jour.</p>
  </section>

  <section>
    <p> De nombreuses écoles sont créées par des samouraïs appartenant à la classe dominante et les techniques se diffusent dans tout le pays. En 1843, on dénombre environ une centaine d'écoles de Ju-Jutsu dont une quarantaine de styles majeurs.</p>

<div class="row border my-3">
<span class="border-bottom fw-bold text-center py-1">QUELQUES GRANDES ECOLES TRADITIONNELLES DE JU-JUTSU </span>
    <div class="col">
      <li>SOSHUISHITSU</li>
      <li>TAKENOUCHI</li>
      <li>HAKUTSU</li>
      <li>GENJI NO HEIHO</li>
      <li>SEKIGUEHI</li>
      <li>SHIBUKAWA</li>
      <li>SHIN NO SHINDO</li>
      <li>KO GUSOKU TAI-JITSU</li>
    </ul>
    </div>
    <div class="col">
      <ul>
        <li>GENKAI</li>
        <li>KUSHIN</li>
        <li>RYU KITO RYU Ju-Jutsu</li>
        <li>KEN-JITSU</li>
        <li>YORITOMO YAGYU</li>
        <li>TAKEDA RYU</li>
        <li>GENJI NO HEIHO</li>
        <li>TENJIN SHINYO RYU</li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li>JIKISHIN RYU</li>
        <li>DAITO RYU</li>
        <li>BU-JUTSU RYU JOROKU</li>
        <li>SHINGAN RYU</li>
        <li>TAKENO UCHI RYU</li>
        <li>YOSHIN RYU</li>
        <li>KOSHI NO MAWARI</li>
        <li>TSUTSUMI-HOZAN</li></ul>
    </div>  
</div>
</section>

<section>
  <h5>L'EPOQUE MEÏJI (1868-1912)</h5>
  <p>Après l'interdiction du port du sabre pour les samouraïs, les "budo" faillirent disparaître, si faible était à cette époque l’estime portée aux choses du passé.</p>
  <p>Pour des raisons politiques, le nouveau gouvernement voulu supprimer tout lien avec ce passé mouvementé car le Japon, jusqu'à lors refermé sur lui-même, avait besoin de s’ouvrir au monde occidental et donner une image nouvelle.</p>
  <p>C’est ainsi qu’avec ce nouveau Japon de nouveaux arts martiaux vîrent le jour, à tendance plus éducative, et mis au point pour un public nouveau, comme le Judo pour l'entraînement de la jeunesse.</p>
  <p>C’est donc à cette période que le Judo, l’Aïkido et d’autres nouveaux arts martiaux vîrent le jour, tous inspirés de techniques spécifiques du Ju-Jitsu traditionnel, pour créer leur art sportif.
 </p>

</section>
 
<h5>Judo - Ju-jitsu - Jiu-jitsu brésilien</h5> 
<p> Le Judo fut ainsi créé par Jigoro Kano en 1882, alors âgé de 22 ans. Après avoir pratiqué le Ju-Jutsu Tenjin-Shinyo-Ryu à l’âge de 17 ans pendant 2 ans, de 1877 à 1879 avec Maître FUKUDA HACHINOSUKE, puis le Ju-Jitsu Kito Ryu pendant un an, de 1881 à 1882, avec Maître IIKUBO TSUNETOSHI.
 <br>
 
 Il faut noter que l’école de Ju-Jitsu Jukishin-Ryu avait déjà utilisé le terme de "Judo" un siècle auparavant.
 <br>
 Le Jiu-Jitsu Brésilien (qui n'a rien à voir avec la "Capoeira" et le "i" de "Jiu" étant caractéristique) fut créé par Carlos GRACIE en 1920, à l’âge de 22 ans, après avoir pratiqué le Ju-Jutsu de l'école Tenshin-Shinyo-Ryu dès l’âge de 16 ans en 1914 avec Maître MITSUYO MAEDA.
 <br>
 L’Aïkido fut créé par Maître Moriheï Ueshiba en 1924, à l’âge de 41 ans, après avoir pratiqué successivement le Ju-Jitsu Kito-Ryu à l’âge de 18 ans, de 1901 à 1903, avec Maître TOZAWA TOKUSABURO, puis le Ju-Jitsu Yagyu Shinkage-Ryu de 1904 à 1909 avec Maître NAKAE MASAKATSU, le Ju-Jitsu Yagyu en 1908, le Ju-Jitsu Hakkaïdo en 1910 et le Ju-Jitsu Daïto Ryu en 1915.
 <br>
 Le Taïho-Jitsu fut créé en 1924, le Goshin-Jitsu en 1926, le Keïbo-Soho en 1946, le Toshu-Kakuto en 1954, le Tokushu-Keïbo-Soho en 1961, et bien d'autres écoles encore.</p>

 
 <section>
  <h5>De nos jours</h5>
      <article>
        De nos jours, toutes sortes d’écoles ne cessent de voir le jour, souvent mélanges de tradition et d’innovations individuelles construites en grande partie sur des éléments techniques anciens et d’origine varié. <br>
    
        Aujourd’hui, il n’existe pas moins de 160 Fédérations, écoles ou groupements pratiquant le Ju-Jutsu à travers le monde. <br>
        
        Malgré l’orientation politique du Japon prise en 1868, c’est grâce au travail acharné de quelques vieux maîtres traditionalistes que le Ju-Jutsu Traditionnel ne fut pas totalement aboli et perdu, et qu’il regagne peu à peu de sa notoriété.
      </article>
 </section>

<div class="container border my-3 text-center">
  <div class="row">

    <span class="border-bottom fw-bold text-center py-2">Ju-Jutsu - Aïki-Jitsu | Anciennes formes traditionnelles toujours existantes :</span>

    <div class="col">
      <ul class="list-unstyled">
        <li>HAKKO RYU JU-JITSU</li>
        <li>SHORINJI KEMPO</li>
        <li>SHIN RIAJU HEÏHO</li>
        <li>SHINDO ROKUGO RYU</li>
        <li>DAITO RYU AÏKI JU-JITSU</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-unstyled">
        <li>KORINDO</li>
        <li>AÏKIDO</li>
        <li>SHINWA TAÏDO</li>
        <li>OTSUKI RYU</li>
        <li>KOBU JITSU</li>
      </ul>
    </div>
  </div>
</div> 

{% endblock %}
  
