{% extends "bootstrap.html.twig" %}

{% block body %}

<h2 class="text-center mb-5 display-5">Planning ADJJ</h2>
  <div class="mb-3">
    <button class="bg-danger text-uppercase text-white py-2 px-3 mx-1">jiu-jitsu brésilien ( JJB )</button>
    <button class="bg-primary text-uppercase text-white py-2 px-3 mx-1">ju-jutsu traditionnel ( JJ Traditionnel )</button>
    <button class="bg-warning text-uppercase py-2 px-3 mx-1">mushin-ryu</button>
</div>
<br>
<table class="table table-hover text-center border">
  <th>
    <td class="fw-bold border bg-light">Lundi</td>
    <td class="fw-bold border bg-light">Mardi</td>
    <td class="fw-bold border bg-light">Mercredi</td>
    <td class="fw-bold border bg-light">Jeudi</td>
    <td class="fw-bold border bg-light">Vendredi</td>
    <td class="fw-bold border bg-light">Samedi</td>
    <td class="fw-bold border bg-light">Dimanche</td>
  </th>
  <tbody>
    <tr>
      <!-- <td></td> -->
      <td class="fw-bold bg-light text-capitalize">Saint-julien-du-sault</td>
      <td class="bg-danger text-white"><strong>JJB :</strong> 18H30-19H30 <br>
      adultes/enfants
      </td>
      <td></td>
      <td class="bg-light"><span class="bg-danger text-white p-1"><strong>JJB :</strong> 18H30-19H30 enfants</span><br><br>
      <span class="bg-primary text-white p-1"><strong>JJ traditionnel :</strong> 19H30-20H00 adultes</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="bg-danger text-white"><strong>JJB :</strong> 10H00-12H00</td>
    </tr>

    <tr>
      <!-- <td></td> -->
      <td class="fw-bold bg-light">Appoigny</td>
      <td></td>
      <td></td>
      <td class="bg-light"><span class="bg-primary text-white p-1"><strong>JJ traditionnel :</strong> 19H00-20H30 adultes/enfant</span><br><br>
      <span class="bg-danger text-white p-1"><strong>JJB :</strong> 20H30-21H30 adultes</span>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <!-- <td></td> -->
      <td class="fw-bold bg-light">Saint-Georges/Baulches</td>
      <td></td>
      <td class="bg-warning"><strong>Mushin-ryu :</strong> 19H15-20H45 adultes</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <!-- <td></td> -->
      <td class="fw-bold bg-light">Aillant/Tholon</td>
      <td class="bg-primary text-white"><strong> JJ traditionnel :</strong> 18H00-19H00 enfants<br>
      19H00-20H30 adultes </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>

</table>

{% endblock %}
  
