{% extends "bootstrap.html.twig" %}

{% block body %}

 
    <article style="text-align: justify;">
      <h3 class="text-capitalize text-center display-5 my-3">le ju-jitsu brésilien</h3>
      <p>
      Ce Ju-Jutsu, moderne, comporte des techniques traditionnelles modifiées et adaptées pour la compétition. Malgré sa source traditionnelle, il en a toutefois perdu toute son essence. Forme moderne très particulière et originale, aussi bien dans sa forme que dans son apprentissage, mais l’esprit n’est plus tout aussi traditionnel. Ju-Jutsu efficace malgré son remaniement, relativement facile à apprendre, mais demandant beaucoup de travail, ouvert à tous.
      </p>
    </article>

{% endblock %}


