{% extends "bootstrap.html.twig" %}

{% block body %}


  <h3 class="text-capitalize text-center display-5 my-3">atemi ju-jutsu : ju-jutsu moderne</h3>
  <p>
  Ce Ju-Jutsu dit "moderne", avec un reste de tradition, est modifié et adapté à notre époque, aussi bien dans sa forme que dans son apprentissage.
  <br>
  Ce Ju-Jutsu énergique, reste d'esprit traditionnel, efficace malgré son remaniement, facile à apprendre, ouvert à tous.
  </p>
  <p>
  Le ju-jitsu, ou jūjutsu ou encore jiu-jitsu (柔術, jūjutsu?, littéralement : « Art de la souplesse » ), regroupe des techniques de combat qui furent développées durant l'ère féodale du Japon par les samouraïs pour se défendre lorsqu'ils étaient désarmés.
  </p>
  <p>Ces techniques sont parfois classées en trois catégories principales :</p>
    <li>atemi waza (technique de frappe)</li>
    <li>nage waza (technique de projection)</li>
    <li>katame waza (technique de contrôle) afin de maîtriser un adversaire</li>

{% endblock %}

