{% extends "bootstrap.html.twig" %}

{% block body %}

  <h1 class="text-capitalize text-center display-5 my-3">mushin-ryu : le ju-jutsu aérien
  </h1>
  <p>
  Un Ju-Jutsu de source traditionnelle, de forme aérienne, avec des déplacements circulaires, à tendance très technique, très efficace, énergique, d'une certaine complexité technique et nécessitant un apprentissage rigoureux.
  </p>

{% endblock %}

