{% extends "bootstrap.html.twig" %}

{% block body %}

  <article style="text-align: justify;">
      <h3 class="text-capitalize text-center display-5 my-3">self-defense</h3>
      <p>
      Issue des techniques de Ju-Jutsu de différents styles mais sans les projections au sol, elle est à la portée de toutes et de tous (seniors), avec des techniques simples et surtout très efficaces.
  <br>
      D'un apprentissage rapide, elle est un excellent outil permettant de garder confiance en soi en toute circonstance et apporte au corps un équilibre parfait et une meilleure hygiène de vie.
  <br>
      Elle se pratique en simple jogging et tee-shirt.
      </p>
    </article>

{% endblock %}
 
