{% extends "bootstrap.html.twig" %}

{% block body %}

    <h3 class="text-capitalize text-center display-5 my-3">le vale tudo</h3>
    <p>
    Le vale tudo, qui peut être traduit par « tout est permis », est une forme de combat libre née au Brésil au xxe siècle. Les combats ne sont régis que par quelques règles :</p>
    <li>interdiction de mettre les doigts dans les yeux</li>
    <li>interdiction de mettre les doigts dans un quelconque orifice</li>
    <li>interdiction de frapper la colonne vertébrale</li>
    <li>interdiction de mordre</li>
    
    <p>Tout le reste est autorisé.</p>

  <h4>Qu'est-ce que le Vale Tudo?</h4>
  <p>Ceux qui pourraient être de nouveaux fans du sport MMA ne savent probablement pas comment le sport a été créé. Bien avant la création de l’UFC, les artistes martiaux brésiliens participaient à des combats appelés « Vale Tudo ». Certains d’entre vous ont peut-être entendu le nom, mais ne savent pas exactement, qu’est-ce que Vale Tudo ?
  <br>
  Les combats de Vale Tudo étaient des concours de combat sans limites qui se déroulaient au Brésil dans les années 1900. Des artistes martiaux d’horizons différents se battaient pour voir quel système de combat était supérieur. Vale Tudo se traduit par « tout va bien ». Un nom précis donné à ces combats brutaux sans limites.</p>

  <h4>Origines</h4>
  <p>L’histoire de Vale Tudo remonte au début du XIXe siècle. Certains des premiers matchs de Vale Tudo remontent même à la fin des années 1910 ou 1920. À l’origine, les combats de Vale Tudo étaient une attraction secondaire que les promoteurs de cirque mettaient en scène lors de leurs spectacles. Au début, c’était un peu similaire à la façon dont la lutte professionnelle a commencé aux États-Unis et au Royaume-Uni. Habituellement, un combattant présenté comme le meilleur combattant du monde affronterait un challenger dans un combat réel ou fixe. Parfois, les combattants ont même relevé des défis de la part de membres du public qui pensaient pouvoir les battre.</p>

  <h4>Vale Tudo et la rivalité Jiu Jitsu vs Luta Livre</h4>
  <p>
  A l’époque des combats de Vale Tudo, il y avait une rivalité entre le Jiu-Jitsu et la Luta Livre. Les pratiquants de ces deux arts martiaux se feraient la guerre entre les années 1980 et 1990. Au début, la rivalité entre le Jiu-Jitsu brésilien et la Luta Livre était amicale. Le créateur de Luta Livre, Euclydes Hatem, a été défié par George Gracie pour un match en 1942. Hatem soumettrait Gracie au deuxième tour avec un étranglement à l’arrière. D’autres membres de la famille Gracie défieraient Hatem, mais rien ne sortit de cette conversation. Les deux parties resteront en bons termes pendant les 40 prochaines années.
  <br>
  La rivalité entre Luta Livre et BJJ a pris une tournure violente en 1982. Lors d’une fête de Carnaval, un groupe de combattants de Muay Thai a battu quelques-uns des plus jeunes membres de la famille Gracie. L’un d’eux étant un jeune Royce Gracie.
  </p>

{% endblock %}
