{% extends "bootstrap.html.twig" %}

{% block body %}

  <h1 class="text-capitalize text-center display-5 my-3">zen-hakko-kaï : le ju-jutsu médical
    </h1>
    <p>
    Ce Ju-Jutsu de source traditionnelle, dit "médical", est axé sur les méridiens et les points vitaux. Très efficace, il ne demande aucune puissance physique et très peu de dépense énergétique, approprié aux personnes d’un âge mur, d'une complexité technique certaine et nécessitant un apprentissage également rigoureux.
    </p>
    <p>
    La philosophie du Jiu-Jitsu Brésilien est simple : amener ou ceinturer son adversaire au sol afin de compenser d'éventuelles faiblesses physiques ou de corpulence. Arrivé à ce stade, étranglements, clefs, coups ou luxations laissent le choix à l'adversaire d'abandonner ou de subir jusqu'au bout la technique de soumission.
    <br>
    En contrepartie, cet art permet à celui qui l'utilise de préserver son adversaire si celui-ci se résigne à abandonner, sans lui provoquer de traumatisme grave. C'est pourquoi, on a souvent surnommé le Jiu-Jitsu Brésilien "l'art ultime à visage humain".
    </p>

{% endblock %}