<footer class="bg-light mt-5">
  <div class="row row-cols-lg-4 justify-content-between offset-1">
    <div class="col">
      <h5 id="contact">Contact</h5>
      <p>Téléphone : 06.83.98.15.85</p>
      <p>Email : clubadjj89@gmail.com</p>
    </div>
    
    <div class="col">
      <h5>Informations</h5>
      <ul class="list-unstyled">
        <li><a href="{{path("planning")}}" class="text-decoration-none" style="color:black">Plannings</a></li>
        <li><a href="{{path("ecoles")}}" class="text-decoration-none" style="color:black">Nos écoles</a></li>
        <li><a href="{{path("code")}}" class="text-decoration-none" style="color:black">Code d'honneur</a></li>
        <li><a href="{{path("origines")}}" class="text-decoration-none " style="color:black">Origines du Ju-Jutsu</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Nos réseaux sociaux</h5>
      <ul class="list-unstyled">
        <li><i class="fa-brands fa-facebook"></i> Facebook</li>
        <li><i class="fa-brands fa-instagram"></i> Instagram</li>
      </ul>
    </div>
  </div>

  <div class="row bg-dark text-light py-2 ">
    <div class="col mx-2">
      <p>&copy Copyright - Fred RC - Droits réservés</p>
    </div>
    {# <div class="col">
      <p>Date du jour : {{ }}>
      </p>
    </div> #}
    
  </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>