{% extends "bootstrap.html.twig" %}

{% block title %}Notre actus{% endblock %}
{% block body %}

    <h1 class="display-5 my-3 text-center">Actualités</h1>
    <section class="row">
       
        <div class="col-4">
            <article class="card mb-3">
                <h2 class="card-header h6">Rencontre internationale 2022</h2>
                <img src="./images/tori-gate.jpg" alt="" class="object-fit:cover">
                <div class="card-body">
                    <p>Une dizaine de nationalités représentées 19 et 20 novembre 2022.
                    Complexe sportif de l'Asie, Marcinelle</p>
                </div>
            </article>
        </div>       
        <div class="col-4">
            <article class="card mb-3">
                <h2 class="card-header h6">Rencontre internationale 2022</h2>
                <img src="./images/tori-gate.jpg" alt="" class="object-fit:cover">
                <div class="card-body">
                    <p>Une dizaine de nationalités représentées 19 et 20 novembre 2022.
                    Complexe sportif de l'Asie, Marcinelle</p>
                </div>
            </article>
        </div>       
        <div class="col-4">
            <article class="card mb-3">
                <h2 class="card-header h6">Rencontre internationale 2022</h2>
                <img src="./images/tori-gate.jpg" alt="" class="object-fit:cover">
                <div class="card-body">
                    <p>Une dizaine de nationalités représentées 19 et 20 novembre 2022.
                    Complexe sportif de l'Asie, Marcinelle</p>
                </div>
            </article>
        </div>       
    </section>


{% endblock %}

   
