{% extends "bootstrap.html.twig" %}

{% block title %}Inscriptions{% endblock %}

  {% block body %}
    <h1 class="display-5 text-center mb-3">Inscriptions</h1>
    <p class="text-danger fw-bold col-8 mx-auto text-center">Le nombre de places disponibles étant limité, vous pouvez vous pré-inscrire afin de réserver votre place.
    <br>Toute pré-inscription est valide pour une durée de 15 jours. Passé ce délai, la place est à nouveau disponible.*</p>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}