{% extends "bootstrap.html.twig" %}
{% block title %}Notre histoire{% endblock %}
{% block body %}

  
  <section style="text-align: justify;">
  <h1 class="text-capitalize display-5 text-center my-3">qui sommes-nous?</h1>
  <p>

    L'A.D.J.J. (Association pour le Développement du Ju-Jutsu) est avant tout une équipe composée de responsables, de membres, de bénévoles qui ont tous à cœur de contribuer au développement du Ju-Jutsu sous toutes ses formes.
    <br>
    Créée en 1997 avec 30 sportifs motivés, notre progression dépasse depuis nos espérances, non seulement en qualité mais également en nombre de licenciés puisque l'A.D.J.J. compte aujourd’hui prés de 200 sportifs passionnés qui se retrouvent régulièrement sur les "tatamis" de nos six écoles.
    <br>
    Association sportive à but non lucratif régie par la Loi de 1901 sur les associations, l'A.D.J.J. a été déclarée à la Préfecture d’Auxerre le 9 juin 1997 et agréée par le Ministère de la Jeunesse et des Sports sous le n°000117. Elle est référencée auprès de la Direction Départementale de la Jeunesse et des Sports sous le numéro 89-S-376.
    <br>
    Notre but est de développer un Ju-Jutsu non compétitif. Principalement technique et traditionnel, ce ju-jutsu "pour tous" à partir de 6 ans, est pratiqué en "sport-loisir", avec les meilleurs techniciens, sans distinction de style ou d’appartenance à telle ou telle école.
    <br>
    C’est donc pour atteindre notre but, et avec un esprit de quête permanente de perfection technique, que nous procédons à une recherche minutieuse des différents formes et tendances de Ju-Jutsu en France.
    <br>
    <ul class="list-unstyled">Ainsi, pour rester dans une pratique de qualité, l’A.D.J.J. s'efforce de proposer les écoles qui correspondent au mieux à sa philosophie du Ju-Jutsu et a décidé de s’affilier à quatre styles différents, tous complémentaires :
      <li>la Fédération "Mushin-Ryu"</li>
      <li>la Confédération Européenne de Ju-Jutsu Brésilien,</li>
      <li>la Fédération Française pour l'Education Physique dans le Monde Moderne (F.F.E.P.M.M.) "Sports pour Tous" dans sa section "Luttes éducatives et Arts Traditionnels", Fédération reconnue par le Ministère de la Jeunesse et des Sports
      </li>
      <li>le Ju-Jutsu "Zen-Hakko-Kaï"</li>
    </ul>
  </p>
  </section>
  <section>
    <h3>Les styles que nous pratiquons</h3>
    <p style="text-align: justify;">
    Dans un souci de perfection technique et afin de rester de vrais experts en Ju-Jutsu , l’A.D.J.J. et son encadrement technique a choisi de travailler ces quatre styles complémentaires. Ainsi, nous avons choisi de nous associer avec ce qui correspond le mieux à notre philosophie du Ju-Jutsu.
<br>
    Aujourd’hui, l’A.D.J.J. est affiliée à plusieurs Fédérations indépendantes de la Fédération Française de Judo et pratiquant des styles différents.
<br>
    La F.F.E.P.M.M. "Sports pour Tous", avec sa section "Luttes éducatives et Arts Traditionnels", est notre Fédération de tutelle.
<br>
    Les sections "Ju-Jutsu" et "Self-Défense féminine" sont issues du Ju-Jutsu traditionnel, ancestral, qui constitue néanmoins un Ju-Jutsu moderne, adapté à la vie contemporaine, avec une pédagogie ouverte et adaptée aux différents publics.
    </p>
  </section>
  <section>
    <h3>La commission technique</h3>
    <ul>
Destinée à l'évaluation des compétences techniques des pratiquants de l'A.D.J.J., elle est composée de :
      <li class="text-capitalize">michel<span class="text-uppercase"> baillet</span></li>
      <li class="text-capitalize">marie<span class="text-uppercase"> baillet</span></li>
      <li class="text-capitalize">éric<span class="text-uppercase"> jarlot</span></li>
      <li class="text-capitalize">sophie<span class="text-uppercase"> lannier</span></li>
    </ul>
  </section>

{% endblock %}