{% extends "bootstrap.html.twig" %}


{% block body %}

<h3 class="text-center border bg-info text-white text-uppercase fw-bold">l'équipe</h3>

<div class="card-group">
  <div class="card">
    <img src="./images/jonathan-borba-dJlivAiZCi0-unsplash.jpg" class="card-img-top w-100 oject-fit-cover" style="height:600px" alt="...">
    <div class="card-body">
      <h5 class="card-title fw-bold text-center py-2">Michel Baillet</h5>
      <h5 class="text-capitalize text-center pb-2">diplôme - expérience - palmarès</h5>
      <ul class="card-text list-unstyled">
                      <div class="text-center">
                      <li>Directeur technique de l’A.D.J.J</li>
                        <li>Instructeur Ju-Jutsu "Traditionnel"</li>
                        <li>Instructeur Ju-Jutsu "Mushin Ryu"</li>
                        <li>Instructeur Jiu-Jutsu Brésilien</li>
                        <li>Instructeur Ju-Jutsu "Zen Hakko Kaï"</li>
                      </div>
                        <br>
                        <li><strong>1998 : </strong>Finaliste Championnats du Monde Jiu-Jutsu Brésilien 1998 - Membre Equipe Française de Jiu-Jutsu Brésilien (E.B.J.J.) </li>
                      </ul>
      <p class="card-text"><small class="text-body-secondary">Président Directeur ADJJ</small></p>
    </div>
  </div>

  <div class="card">
    <img src="./images/jjb femme2.jpg" class="card-img-top w-100 oject-fit-cover" style="height:600px" alt="...">
    <div class="card-body">
      <h5 class="card-title fw-bold text-center py-2">Sophie Lannier</h5>
      <h5 class="text-capitalize text-center pb-2">diplôme - expérience - palmarès</h5>
      <ul class="card-text list-unstyled">
                      <div class="text-center">
                      <li>Instructrice Self-Défense féminine</li>
                        <li>Animatrice "Baby Ju-Jutsu"</li>
                        <li>Ceinture Noire 1er Dan de Ju-Jutsu F.J.J</li>
                        <li>Ceinture Noire 1er Dan de Ju-Jutsu "Zen Hakko Kaï"</li>
                      </div>
                        
                        <br>
                        <li><strong>2004-2005 :</strong> Directrice technique nationale section "Self-Défense féminine" pour la F.J.J, </li>
                      </ul>
      <p class="card-text"><small class="text-body-secondary">Vice Présidente</small></p>
    </div>
  </div>

  <div class="card">
    <img src="./images/jjb femme.jpeg" class="card-img-top w-100 oject-fit-cover" style="height:600px" alt="...">
    <div class="card-body">
      <h5 class="card-title fw-bold text-center py-2">Marie Baillet</h5>
      <h5 class="text-capitalize text-center pb-2">diplôme - expérience - palmarès</h5>
       <ul class="card-text list-unstyled" style="text-align:justify">
                          <li class="text-center">Instructrice Jiu-Jutsu Brésilien</li>
                          <br>
                          <li><strong>1998-1999 :</strong> 1ère à la Coupe de France F.J.J</li>
                          <li><strong>1999 :</strong> 3ème à la Coupe de France Jiu-Jutsu brésilien - 4ème à la Coupe d’ Europe Jiu-Jutsu Brésilien</li>
                          <li>Ceinture Noire 1er Dan de Ju-Jutsu "Zen Hakko Kaï"</li>
                          <li>Instructeur en Ju-Jutsu "Traditionnel" et "Shiatsus"</li>
                          <li><strong>2000 :</strong> 1ère à la Coupe de France "Toutes catégories" - 3ème à la Coupe d’ Europe Jiu-Jutsu Brésilien - Membre de l’Equipe Française de Jiu-Jutsu Brésilien - Finaliste Championnats du Monde Jiu-Jutsu Brésilien</li>
                          <li><strong>2001 :</strong> 3ème à la Coupe d’Europe Jiu-Jutsu Brésilien - 1ère à la Coupe de France F.J.J
                          </li>
                        </ul>
      <p class="card-text"><small class="text-body-secondary">Présidente Adjointe</small></p>
    </div>
  </div>
</div>

{% endblock %}