{% extends "bootstrap.html.twig" %}

{% block title %}stages et compétitions{% endblock %}

{% block body %}

<h1 class="display-5 text-center">{{h1}} </h1>

<div class="card">
  <img src="./images/self-defense3.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h2 class="card-title">Championnat de France Jiu-Jitsu Brésilien</h2>
    <div class="row">
      <div class="col-4">
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dicta optio asperiores rem quisquam corporis laudantium expedita animi, nostrum pariatur veritatis tempora repellendus architecto odio incidunt, quasi, error maxime minima fugit mollitia obcaecati dignissimos. Molestiae tempore deleniti laborum </p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
    </div>
    
  </div>
</div>

{% endblock %}