{% extends "bootstrap.html.twig" %}

{% block title %}Tarifs{% endblock %}

{% block body %}

  <h1 class="display-5 text-center py-3 display-3">Nos <Th></Th>Tarifs</h1>

<div class="container">

  <div class="row d-flex justify-content-center text-center">

    <div class="col">

      <div class="card border-dark h-100">
        <div class="card-header fs-3 bg-success-subtle">
          Pack Solo
        </div>
        <div class="card-body">
            <h5 class="card-title display-5"><strong>400€</strong>/an</h5>
            <h6>1 sport de combat à l'année</h6>
            <p class="card-text py-2">
              Cours illimités pour une discipline<br>+ <br>
                  Passage de grade</p>
                  <a href=""><input type="submit" value="valider" class="w-100 fs-4 btn btn-outline-info"></a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-dark h-100">
        <div class="card-header fs-3 bg-primary-subtle">
          Pack Duo
        </div>
        <div class="card-body">
            <h5 class="card-title display-5"><strong>700€</strong>/an</h5>
            <h6>2 sports de combats à l'année</h6>
            <p class="card-text py-2">
            Cours illimités pour deux disciplines<br>+ <br>
                  Passage de grade</p>
                  <a href=""><input type="submit" value="valider" class="w-100 fs-4 btn btn-outline-info"></a>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card border-dark h-100">
        <div class="card-header fs-3 bg-warning-subtle">
          Pack Illimité
        </div>
        <div class="card-body">
            <h5 class="card-title display-5"><strong>900€</strong>/an</h5>
            <h6>Accès à toutes les sports de combats proposés</h6>
            <p class="card-text py-2">
            Accès illimité toutes disciplines
              <br>+ <br>
                  Passage de grade</p>
                  <a href=""><input type="submit" value="valider" class="w-100 fs-4 btn btn-outline-info"></a>
        </div>
      </div>
    </div>

    </div>

  </div>


</div>

{% endblock %}



